<div id="deliverModal<%=i%>" class="ui tiny basic modal">
    <div class="header">
      Deliverd to:
    </div>
    <div class="content">
      <form class='ui form'>
        <div class="field">
           <label style="color:white">The recipient name :</label>
        <div class="fields">
          <div class="eight wide field">
            <input id="inputRecipient<%=i%>" class="inputRecipient" name="Recipient-name" placeholder="Recipient name" required>
          </div>
        <div class="six wide field">
            <div id="deliveredBtn<%=i%>" class="ui inverted button deliveredBtn">Confirm Delivery</div>
        </div>
        </div>
        </div>
      </form>
    </div>
  </div>