 
   <!-- bootstrap and jquery cdn links -->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/334f0b9bfc.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.js"></script>
  <script src="https://semantic-ui.com/javascript/library/tablesort.js"></script>
  <script type="text/javascript" src="/scripts//jquery.table2excel.min.js"></script>
  <script type="text/javascript" src="/scripts/myscript.js"></script>
  <div class='main-con container hide'>
  <footer id='footer' class="w3-text-black w3-xlarge">
   <a target="_blank" href="https://www.facebook.com/muhamad.atout"><i class="fa fa-facebook-official hover-opacity"></i></a>
   <a target="_blank" href="https://www.instagram.com/3at3out"><i class="fa fa-instagram hover-opacity"></i></a>
   <a target="_blank" href="https://twitter.com/Mr_3AT3AT"><i class="fa fa-twitter hover-opacity"></i></a>
   <a target="_blank" href="https://www.linkedin.com/in/muhamad-atout-43487863"><i class="fa fa-linkedin hover-opacity"></i></a>
  <!-- End footer -->
  </footer>
  </div>
 </body>
</html>