
#navbar-icon {
	margin-right : 20px;
	}
body{
	background : url("../images/background.jpg");     
	background-size: cover;
	background-repeat : no-repeat;
	background-position : center;
	margin-top: 80px;
	min-height: 515px;
}
.jumbotron{
	margin-top:15%;
	background-color:transparent;
}
.main-con {
    min-width:250px;
	max-width:500px;
}
#intro-div{
	text-align: center;
}
#search-input{
	width: 75%;
	margin-right: 1%
}
#navbar {
	min-height: 50px;
	max-height: 50px
}
.navbar-brand {
	padding-bottom: .7225rem;
}
.hide{
	display: none;
}
#searchbtn{
	margin-right: 1%;
}
#main-table{
	background-color:rgba(0, 0, 0, 0.1);
	margin-top: 5px;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    width:200px;
    height:20px;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    /*padding:10px;*/
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

